In [3]:
# 단위 변환하기 (출력 구분자 지정하기)
inch = float(input("Please Enter an inch to convert >> "))
rate = 2.54
cm = inch * rate
print(int(inch), "inches is ", cm, "cm", sep = "")

Please Enter an inch to convert >> 30
30inches is 76.2cm

In [5]:
# 문자열에서의 큰따음표와 작은 따옴표 문자열에서의 큰따음표와 작은 따옴표
char1 = 'Python'
char2 = "pythonpython"
print(char1, char2)
print(type(char1), type(char2))

Python pythonpython
<class 'str'> <class 'str'>

In [12]:
# 문자열 합치기
a = "I"
b = "love"
c = "Python."
print(a + b + c)
print(a + " " + b + " " + c)
print(a + b * 3 + c)

IlovePython.
I love Python.
IlovelovelovePython.

In [23]:
# 문자열에서의 인덱싱
x = "python"
print(x)
print(x[2])
print(x[5])
print(x[len(x) - 1])
print(x[-1])
print(x[0:2])
print(x[:4])
print(x[-5:-1])

python
t
n
n
n
py
pyth
ytho

In [29]:
# Hello World 슬라이싱
str = "Hello World"
print(str[0:5])
print(str[:5])
print(str[6:11])
print(str[-11:-6])
print(str[:4])

Hello
Hello
World
Hello
Hell

In [51]:
# 리스트 타입
text = [1, 3, 6, 9, 12, 15, 18, 21]
print(type(text))
print(text)
print("index:", *[int(num / 3) for num in text])
print(*text[:3])
text[6] = 20
print(text)
del text[2:4]
print(text)

<class 'list'>
[1, 3, 6, 9, 12, 15, 18, 21]
index: 0 1 2 3 4 5 6 7
1 3 6
[1, 3, 6, 9, 12, 15, 20, 21]
[1, 3, 12, 15, 20, 21]

In [62]:
# 주민등록번호로 생일 출력하기
birth = input("주민번호 앞자리 입력: ")
year = birth[:2]
year = ("19" if int(year) > 24 else "20") + year
month = birth[2:4]
day = birth[4:]
age = 2024 - int(year) + 1
print("당신은", year, "년에 태어났군요.")
print("당신의 생일은 ", month, "월 ", day, " 일 이군요.", sep = "")
print("당신은 올해", age, "살 이군요")

주민번호 앞자리 입력: 011024
당신은 2001 년에 태어났군요.
당신의 생일은 10월 24 일 이군요.
당신은 올해 24 살 이군요

In [67]:
# 리스트 수정
c = [10, 20, 30]
c.append(40)
print(c)
# c[4] = 50 : Error
c.insert(4, 50)
print(c)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [73]:
fruit = ["apple", "banana", "tomato", "peach"]
print(len(fruit))
print(fruit[1])
#print(min(fruit))
#print(max(fruit))

a = [1, 2, 0, 5]
b = [1, 2, 3, 4, 5]
print(a + b)
print(min(a))
print(max(a))

4
banana
[1, 2, 0, 5, 1, 2, 3, 4, 5]
0
5

In [88]:
heroes = ["spider_man", "hulk", "iron_man", "thor"]
print("헐크는 영웅입니다." if "hulk" in heroes else "헐크는 영웅이 아닙니다.")
print("아이언맨은 ", heroes.index("iron_man") + 1, "번째 영웅", sep = "")
except_index = int(input("몇 번째 영웅을 빼뻐릴까요? ")) - 1
except_hero = heroes.pop(except_index)
print("이제 ", except_hero, "빼서 남은 영웅 리스트는 ", heroes, " 입니다.", sep = "")
heroes.remove("spider_man")
print("스파이더맨이 사직서 내서 이제 남은 영웅은", heroes, "입니다.")

헐크는 영웅입니다.
아이언맨은 3번째 영웅
몇 번째 영웅을 빼뻐릴까요? 4
이제 thor빼서 남은 영웅 리스트는 ['spider_man', 'hulk', 'iron_man'] 입니다.
스파이더맨이 사직서 내서 이제 남은 영웅은 ['hulk', 'iron_man'] 입니다.

In [91]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
print(list1 == list2)
print(list1 != list2)

list2 = [2, 3, 4]
print(list1 < list2)

True
False
True

In [99]:
# 가장 긴 문자열과 가장 짧은 문자열 출력
words = []
for _ in range(5):
  words.append(input("단어를 입력하세요: "))
max = words[0]
min = words[0]
for word in words:
  if len(word) > len(max): max = word
  if len(word) < len(min): min = word
print("가장 긴 문자열:", max)
print("가장 짧은 문자열:", min)

단어를 입력하세요: Hello
단어를 입력하세요: My name is JoHyeongGu
단어를 입력하세요: I'm 24
단어를 입력하세요: And Live in Paju
단어를 입력하세요: Thank you
가장 긴 문자열: My name is JoHyeongGu
가장 짧은 문자열: Hello